In [ ]:
import numpy as np
import pandas as pd
import os
import math
from datetime import timedelta, datetime as dt, date
import time

In [ ]:
link = 'https://drive.google.com/file/d/1M6eGd0vZw83KxyC5xd6TQipOmkvnzom0/view?usp=drive_link'

In [ ]:
path = 'https://drive.google.com/uc?export=download&id='+link.split('/')[-2]
sales_data=pd.read_csv(path)

In [ ]:
sales_data.head(10)

,OrderNumber,Sales Channel,WarehouseCode,ProcuredDate,OrderDate,ShipDate,DeliveryDate,CurrencyCode,_SalesTeamID,_CustomerID,_StoreID,_ProductID,Order Quantity,Discount Applied,Unit Price,Unit Cost
0,SO - 000101,In-Store,WARE-UHY1004,31-12-17,31-05-18,14-06-18,19-06-18,USD,6,15,259,12,5,0.075,1963.1,1001.181
1,SO - 000102,Online,WARE-NMK1003,31-12-17,31-05-18,22-06-18,02-07-18,USD,14,20,196,27,3,0.075,3939.6,3348.660
2,SO - 000103,Distributor,WARE-UHY1004,31-12-17,31-05-18,21-06-18,01-07-18,USD,21,16,213,16,1,0.050,1775.5,781.220
3,SO - 000104,Wholesale,WARE-NMK1003,31-12-17,31-05-18,02-06-18,07-06-18,USD,28,48,107,23,8,0.075,2324.9,1464.687
4,SO - 000105,Distributor,WARE-NMK1003,10-04-18,31-05-18,16-06-18,26-06-18,USD,22,49,111,26,8,0.100,1822.4,1476.144
5,SO - 000106,Online,WARE-PUJ1005,31-12-17,31-05-18,08-06-18,13-06-18,USD,12,21,285,1,5,0.050,1038.5,446.555
6,SO - 000107,In-Store,WARE-XYS1001,31-12-17,31-05-18,08-06-18,14-06-18,USD,10,14,6,5,4,0.150,1192.6,536.670
7,SO - 000108,In-Store,WARE-PUJ1005,10-04-18,31-05-18,26-06-18,01-07-18,USD,6,9,280,46,5,0.050,1815.7,1525.188
8,SO - 000109,In-Store,WARE-PUJ1005,31-12-17,01-06-18,16/06/2018,21-06-18,USD,4,9,299,47,4,0.300,3879.3,2211.201
9,SO - 000110,In-Store,WARE-UHY1004,31-12-17,01-06-18,29-06-18,01-07-18,USD,10,33,261,13,8,0.050,1956.4,1212.968

In [ ]:
sales_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7991 entries, 0 to 7990
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   OrderNumber       7991 non-null   object
 1   Sales Channel     7991 non-null   object
 2   WarehouseCode     7991 non-null   object
 3   ProcuredDate      7991 non-null   object
 4   OrderDate         7991 non-null   object
 5   ShipDate          7991 non-null   object
 6   DeliveryDate      7991 non-null   object
 7   CurrencyCode      7986 non-null   object
 8   _SalesTeamID      7991 non-null   int64
 9   _CustomerID       7991 non-null   int64
 10  _StoreID          7991 non-null   int64
 11  _ProductID        7991 non-null   int64
 12  Order Quantity    7991 non-null   int64
 13  Discount Applied  7982 non-null   float64
 14  Unit Price        7988 non-null   float64
 15  Unit Cost         7989 non-null   float64
dtypes: float64(3), int64(5), object(8)
memory usage: 999.0+ KB

In [ ]:
sales_data.dtypes
# kieu du lieu: ProduceDate,OrderDate,ShipDate,DeliveryDate: Strings => phai chuyen qua Date

OrderNumber          object
Sales Channel        object
WarehouseCode        object
ProcuredDate         object
OrderDate            object
ShipDate             object
DeliveryDate         object
CurrencyCode         object
_SalesTeamID          int64
_CustomerID           int64
_StoreID              int64
_ProductID            int64
Order Quantity        int64
Discount Applied    float64
Unit Price          float64
Unit Cost           float64
dtype: object

In [ ]:
sales_data['ProcuredDate']=pd.to_datetime(sales_data['ProcuredDate'])
sales_data['OrderDate']=pd.to_datetime(sales_data['OrderDate'])
sales_data['ShipDate']=pd.to_datetime(sales_data['ShipDate'])
sales_data['DeliveryDate']=pd.to_datetime(sales_data['DeliveryDate'])
sales_data.dtypes

<ipython-input-7-2f041f6c6139>:2: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  sales_data['OrderDate']=pd.to_datetime(sales_data['OrderDate'])
<ipython-input-7-2f041f6c6139>:3: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  sales_data['ShipDate']=pd.to_datetime(sales_data['ShipDate'])
<ipython-input-7-2f041f6c6139>:4: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  sales_data['DeliveryDate']=pd.to_datetime(sales_data['DeliveryDate'])

OrderNumber                 object
Sales Channel               object
WarehouseCode               object
ProcuredDate        datetime64[ns]
OrderDate           datetime64[ns]
ShipDate            datetime64[ns]
DeliveryDate        datetime64[ns]
CurrencyCode                object
_SalesTeamID                 int64
_CustomerID                  int64
_StoreID                     int64
_ProductID                   int64
Order Quantity               int64
Discount Applied           float64
Unit Price                 float64
Unit Cost                  float64
dtype: object

In [ ]:
sales_data.info()
# Co 1 so gia tri Null: CurrencyCode,Discount Applied,Unit Price, Unit Cost

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7991 entries, 0 to 7990
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   OrderNumber       7991 non-null   object
 1   Sales Channel     7991 non-null   object
 2   WarehouseCode     7991 non-null   object
 3   ProcuredDate      7991 non-null   datetime64[ns]
 4   OrderDate         7991 non-null   datetime64[ns]
 5   ShipDate          7991 non-null   datetime64[ns]
 6   DeliveryDate      7991 non-null   datetime64[ns]
 7   CurrencyCode      7986 non-null   object
 8   _SalesTeamID      7991 non-null   int64
 9   _CustomerID       7991 non-null   int64
 10  _StoreID          7991 non-null   int64
 11  _ProductID        7991 non-null   int64
 12  Order Quantity    7991 non-null   int64
 13  Discount Applied  7982 non-null   float64
 14  Unit Price        7988 non-null   float64
 15  Unit Cost         7989 non-null   float64
dtypes: datetime64[ns](4), float64(3), int64(5), object(4)
memory usage: 999.0+ KB

In [ ]:
# Xu ly Missing data o cot: CurrencyCode, Điền phần null là USD
sales_data['CurrencyCode']=sales_data['CurrencyCode'].fillna('USD')

In [ ]:
# Discount Applied: một số cái null ,Lấy trung bình theo loại sản phẩm

In [ ]:
sales_data['Discount Applied'] = sales_data['Discount Applied'].replace({np.nan: None})

In [ ]:
def fill_discount(product_id, discount):
    mean_val = discount
    if not discount:
        mean_val = round(sales_data.loc[(sales_data['_ProductID'] == product_id)]['Discount Applied'].mean(), 2)
    return mean_val

In [ ]:
sales_data['Discount Applied']=sales_data.apply(lambda x: fill_discount(x['_ProductID'], x['Discount Applied']), axis=1)

In [ ]:
# Price unit  : Một số cái null - lấy giá tb sản phẩm bán, cùng team bán
sales_data['Unit Price'] = sales_data['Unit Price'].replace({np.nan: None})

In [ ]:
def fill_price(product_id, salesteam_id, unit_price):
    mean_val = unit_price
    if not unit_price:
        mean_val = round(sales_data.loc[(sales_data['_ProductID'] == product_id) & (sales_data['_SalesTeamID'] == salesteam_id)]['Unit Price'].mean(),2)
    return mean_val

In [ ]:
sales_data['Unit Price'] = sales_data.apply(lambda x: fill_price(x['_ProductID'], x['_SalesTeamID'], x['Unit Price']), axis=1)

In [ ]:
# Unit Cost : Một số cái null - lấy giá trong bình sản phẩm mua, cùng warehouseCode
sales_data['Unit Cost'] = sales_data['Unit Cost'].replace({np.nan: None})

In [ ]:
def fill_cost(product_id, warehouse, unit_cost):
    mean_val = unit_cost
    if not unit_cost:
        mean_val = round(sales_data.loc[(sales_data['_ProductID'] == product_id) & (sales_data['WarehouseCode'] == warehouse)]['Unit Cost'].mean(),2)
    return mean_val

In [ ]:
sales_data['Unit Cost'] = sales_data.apply(lambda x: fill_cost(x['_ProductID'], x['WarehouseCode'], x['Unit Cost']), axis=1)

In [ ]:
# kiểm tra lại dữ liệu
sales_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7991 entries, 0 to 7990
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   OrderNumber       7991 non-null   object
 1   Sales Channel     7991 non-null   object
 2   WarehouseCode     7991 non-null   object
 3   ProcuredDate      7991 non-null   datetime64[ns]
 4   OrderDate         7991 non-null   datetime64[ns]
 5   ShipDate          7991 non-null   datetime64[ns]
 6   DeliveryDate      7991 non-null   datetime64[ns]
 7   CurrencyCode      7991 non-null   object
 8   _SalesTeamID      7991 non-null   int64
 9   _CustomerID       7991 non-null   int64
 10  _StoreID          7991 non-null   int64
 11  _ProductID        7991 non-null   int64
 12  Order Quantity    7991 non-null   int64
 13  Discount Applied  7991 non-null   float64
 14  Unit Price        7991 non-null   float64
 15  Unit Cost         7991 non-null   float64
dtypes: datetime64[ns](4), float64(3), int64(5), object(4)
memory usage: 999.0+ KB

In [ ]:
sales_data['totalcost']=sales_data['Unit Cost']*sales_data['Order Quantity']
sales_data['totalSales']=(sales_data['Unit Price'])*(1-sales_data['Discount Applied'])*sales_data['Order Quantity']

In [ ]:
sales_data['Profit']=sales_data['totalSales']-sales_data['totalcost']
sales_data.head(10)

,OrderNumber,Sales Channel,WarehouseCode,ProcuredDate,OrderDate,ShipDate,DeliveryDate,CurrencyCode,_SalesTeamID,_CustomerID,_StoreID,_ProductID,Order Quantity,Discount Applied,Unit Price,Unit Cost,totalcost,totalSales,Profit
0,SO - 000101,In-Store,WARE-UHY1004,2017-12-31,2018-05-31,2018-06-14,2018-06-19,USD,6,15,259,12,5,0.075,1963.1,1001.181,5005.905,9079.3375,4073.4325
1,SO - 000102,Online,WARE-NMK1003,2017-12-31,2018-05-31,2018-06-22,2018-02-07,USD,14,20,196,27,3,0.075,3939.6,3348.660,10045.980,10932.3900,886.4100
2,SO - 000103,Distributor,WARE-UHY1004,2017-12-31,2018-05-31,2018-06-21,2018-01-07,USD,21,16,213,16,1,0.050,1775.5,781.220,781.220,1686.7250,905.5050
3,SO - 000104,Wholesale,WARE-NMK1003,2017-12-31,2018-05-31,2018-02-06,2018-07-06,USD,28,48,107,23,8,0.075,2324.9,1464.687,11717.496,17204.2600,5486.7640
4,SO - 000105,Distributor,WARE-NMK1003,2018-10-04,2018-05-31,2018-06-16,2018-06-26,USD,22,49,111,26,8,0.100,1822.4,1476.144,11809.152,13121.2800,1312.1280
5,SO - 000106,Online,WARE-PUJ1005,2017-12-31,2018-05-31,2018-08-06,2018-06-13,USD,12,21,285,1,5,0.050,1038.5,446.555,2232.775,4932.8750,2700.1000
6,SO - 000107,In-Store,WARE-XYS1001,2017-12-31,2018-05-31,2018-08-06,2018-06-14,USD,10,14,6,5,4,0.150,1192.6,536.670,2146.680,4054.8400,1908.1600
7,SO - 000108,In-Store,WARE-PUJ1005,2018-10-04,2018-05-31,2018-06-26,2018-01-07,USD,6,9,280,46,5,0.050,1815.7,1525.188,7625.940,8624.5750,998.6350
8,SO - 000109,In-Store,WARE-PUJ1005,2017-12-31,2018-01-06,2018-06-16,2018-06-21,USD,4,9,299,47,4,0.300,3879.3,2211.201,8844.804,10862.0400,2017.2360
9,SO - 000110,In-Store,WARE-UHY1004,2017-12-31,2018-01-06,2018-06-29,2018-01-07,USD,10,33,261,13,8,0.050,1956.4,1212.968,9703.744,14868.6400,5164.8960

In [ ]:
sales_data.to_csv('US_region_sales_data_new.csv')